<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/style.css" /> 
    </head>

    <body>
        <div id="main-content">
            <div id="button-main">
                <a href="/"><button style="background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);color: black;border: 2px solid #c4a2b4; padding: 6px 35px;"><b style="font-size: 16px;">Home</b></button></a>&nbsp &nbsp
                <a href="/about"><button style="background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);color: black;border: 2px solid #c4a2b4; padding: 6px 35px;"><b style="font-size: 16px;">About</b></button></a>&nbsp &nbsp
                <a class="active" href="/contact"><button style="background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);color: black;border-radius:8px; border-color: #c4a2b4; padding: 6px 35px;"><b style="font-size: 16px;">Contact</b></button></a>
                <%if(user == undefined){%>
                <a href="/register"><button style="background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);color: black;border: 2px solid #c4a2b4; padding: 6px 35px;"><b style="font-size: 16px;">Register</b></button></a>
                <a href="/login"><button style="background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 51%, #ffecd2 100%);color: black;border: 2px solid #c4a2b4; padding: 6px 35px;"><b style="font-size: 16px;">Log in</b></button></a>
                <%}else{%>
                    <a href="/logout"><button style="background-color: #ede6f8;color: black;border: 2px solid #c4a2b4; padding: 6px 35px;"><b style="font-size: 16px;">Logout</b></button></a>
                <%}%>
            </div>
            <div>
                <div class="section" id="section1">
                    <h2>Features</h2><br>
                    <a href="/"><button style="background-color: #ede6f8;color: black;border: 3px solid #aa6c8d; padding: 6px 41px;"><b style="font-size: 16px;">Products</b></button></a><br><br><br>
                    <a href="/add"><button style="background-color: #ede6f8;color: black;border: 3px solid #aa6c8d; padding: 6px 28px;"><b style="font-size: 16px;">Add Product</b></button></a><br><br><br>
                </div>
                <div class="section" id="section2">
                    <h2>This is contact page</h2>
                </div>
            </div>
        </div>
    </body>
</html>