<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
    </head>

    <body>
        <div id="main-content">
            <div id="button-main">
                <a href="/"><button style="background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);color: black;border: 2px solid #c4a2b4; padding: 6px 35px;"><b style="font-size: 16px;">Home</b></button></a>&nbsp &nbsp
                <a href="/about"><button style="background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);color: black;border: 2px solid #c4a2b4; padding: 6px 35px;"><b style="font-size: 16px;">About</b></button></a>&nbsp &nbsp
                <a href="/contact"><button style="background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);color: black;border: 2px solid #c4a2b4; padding: 6px 35px;"><b style="font-size: 16px;">Contact</b></button></a>
                <%if(user == undefined){%>
                <a href="/register"><button style="background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);color: black;border: 2px solid #c4a2b4; padding: 6px 35px;"><b style="font-size: 16px;">Register</b></button></a>
                <a class="active" href="/login"><button style="background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 51%, #ffecd2 100%);color: black;border-radius:8px; border-color: #c4a2b4; padding: 6px 35px;"><b style="font-size: 16px;">Log in</b></button></a>
                <%}else{%>
                    <a href="/logout"><button style="background-color: #ede6f8;color: black;border: 2px solid #c4a2b4; padding: 6px 35px;"><b style="font-size: 16px;">Logout</b></button></a>
                <%}%>
            </div>
            <div>
                <div class="section" id="section1">
                    <h2>Features</h2><br>
                    <a href="/"><button style="background-color: #ede6f8;color: black;border: 3px solid #aa6c8d; padding: 6px 41px;"><b style="font-size: 16px;">Products</b></button></a><br><br><br>
                    <a href="/add"><button style="background-color: #c0504f;color: black;border: 3px solid #933c45; padding: 6px 28px;"><b style="font-size: 16px; color:white">Add Product</b></button></a><br><br><br>
                   
                    </div>
                <div class="section" id="section2">
                    <form action="/signin" method="get"><br><br><br><br><br>
                        <label for="lname"><b style="font-size: 20px;">Email:</b></label>&nbsp &nbsp &nbsp
                        <input type="text" id="lname" name="email" value=""><br><br>
                        <label for="pass"><b style="font-size: 20px;">Password:</b></label>&nbsp &nbsp &nbsp
                        <input type="password" id="pass" name="pass" value=""><br><br>
                        <div class="submit">
                            <button style="background-color: #c24e4c; border-radius:7px;border-color:#933c45; padding: 5px 8px"><b style="font-size: 16px;">Log in</b></button>
                        </div>
                      </form>
                </div>
            </div>
        </div>
    </body>
</html>